/*

Grid sys

*/

//Config
$columns: 12;
$gutter: 1rem;


@function grid-width($cols, $has-gutter:false) {
  @if $has-gutter {
    @return calc(((100% / #{$columns}) * #{$cols}) - #{$gutter});  
  }
  @else {
    @return calc((100% / #{$columns}) * #{$cols});
  }
}

// Rows + Columns
$class-slug: col !default;
// .row{ width: grid-width($columns); }
.row { width: 100%; display: table; table-layout: fixed; }
@for $i from 1 through $columns{
  .#{$class-slug}-#{$i}{
    width: grid-width($i);
    float: left;
    &.g{
      width: grid-width($i, true)
    }
  }
}