// bower:scss
// endbower

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@import "grid";

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  p {
    padding: 1em;
  }
}

header {
  width: grid-width(12);
}
  
main {
  width: grid-width(8, true);
  background: tomato;
  float: left;
}
aside{
  width: grid-width(4);
  background: grey;
  float: left;
}
.row > div{
  background: grey;
  text-align: center;
}



