/* ====================================
   Bower
   ==================================== */

// bower:scss
@import "../../bower_components/normalize-scss/_normalize.scss";
@import "../../bower_components/sassy-maps/sass/_sassy-maps.scss";
@import "../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
@import "../../bower_components/compass-mixins/lib/_compass.scss";
@import "../../bower_components/susy/sass/_susy.scss";
// endbower

/* ====================================
   Helpers
   ==================================== */

@import 'helpers/global-classes';
@import 'helpers/colors';
@import 'helpers/variables';
@import 'helpers/mixins';

/* ====================================
   Foundation
   ==================================== */

@import 'foundation/base';
@import 'foundation/print';
@import 'foundation/typography';


/* ====================================
   Components
   ==================================== */

@import 'elements/buttons';
@import 'elements/lists';
@import 'elements/media';
@import 'elements/blocks';
@import 'elements/forms';

/* ====================================
   Layout
   ==================================== */

@import 'components/header';
@import 'components/navigation';
@import 'components/footer';

$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);
@include border-box-sizing;

@import 'demo';
