// bower:scss
@import "../../bower_components/normalize-scss/_normalize.scss";
@import "../../bower_components/sassy-maps/sass/_sassy-maps.scss";
@import "../../bower_components/breakpoint-sass/stylesheets/_breakpoint.scss";
// endbower

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@import "grid";

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  p {
    padding: 1em;
  }
}

header {
  width: grid-width(12);
}
  
main {
  width: grid-width(8, true);
  background: tomato;
  float: left;
}
aside{
  width: grid-width(4);
  background: grey;
  float: right;
}
.row > div{
  background: grey;
  text-align: center;
}



